.terms-conditions-container {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.effective-date {
  font-style: italic;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}